{% extends "educationPortal/layout.html" %}

{% block body %}

    <h2>Password Reset Confirmation</h2>

    <div class="inputForm">
        <h1>Password Reset Confirmation</h1>
        <br>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group" style="display: flex; height: 30px; align-items: center;" >
                <div class="loginIcon">
                    <i class="fas fa-lock"></i>
                </div>
                <input type="password" class="inputField" id="new_password" name="new_password" placeholder="Enter Your New Password" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Set New Password">
        </form>

        <div style="height: 2vh;"></div>
        <a href="{% url 'login' %}">Back to Login</a>
        <div style="height: 3vh;"></div>

        {% if message %}
            <div style='color: white; margin-bottom: 20px;'>{{ message }}</div>
            <br>
        {% endif %}
    </div>

{% endblock %}
