{% extends "educationPortal/layout.html" %}

{% block body %}

    <h2>Reset Password</h2>

    <div class="inputForm">
        <h1>Reset Password</h1>
        <br>
        <form action="{% url 'password_reset' %}" method="post" class="">
            {% csrf_token %}
            <div class="form-group" style="display: flex; height: 30px; align-items: center;" >
                <div class="loginIcon">
                    <i class="fas fa-envelope"></i>
                </div>
                <input type="email" name="email" placeholder="Email" class="inputField" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Reset Password">
        </form>
        <div style="height: 2vh;"></div>
        <a href="{% url 'login' %}">Back to Login</a>
        <div style="height: 3vh;"></div>
        {% if message %}
            <div style='color: white; margin-bottom: 20px;'>{{ message }}</div>
            <br>
        {% endif %}
    </div>

{% endblock %}
