<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Website</title>
    <link rel="stylesheet" href="/static/css/front.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />   
    
    <style>
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        min-width: 160px; /* Set your desired minimum width */
        max-width: 300px; /* Set your desired maximum width */
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      .dropdown:hover .dropdown-content {
          display: block;
      }
    </style>

    <body>
    <section class="sub-header">
      <nav>
        <a href="index.html"><img src="/static/images/pu_logo.png" alt="" /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa-solid fa fa-xmark" onclick="hideMenu()"></i>
          <ul>
            <li><a href="{% url 'front' %}">HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li class="dropdown">
              <a href="{% url 'department' %}" class="dropbtn">DEPARTMENTS</a>
              <div class="dropdown-content">
                  <select id="departmentDropdown">
                      <option value="" selected disabled>Select a department</option>
                      {% for department in departments %}
                          <option value="{{ department.dept_id }}">{{ department.dept_name }}</option>
                      {% endfor %}
                  </select>
              </div>
            </li>
            <li><a href="{% url 'news_page' %}">NEWS</a></li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
            <li><a href="{% url 'bus_list' %}">BUS INFO</a></li>
            <li><a href="{% url 'faq_list' %}">FAQs</a></li>
          </ul>
        </div>
        <i class="fa-solid fa fa-bars" onclick="showMenu()"></i>
      </nav>
    </section>


    <section class="about-us">
      <div class="row" >
        <div class="about-col" >
          <h1>About Savitribai Phule Pune University</h1>
          <p>Savitribai Phule Pune University, one of the premier universities in India, is positioned in the North-western part of Pune city. It occupies an area of about 411 acres. It was established on 10th February, 1949 under the Poona University Act. The university houses 46 academic departments. It is popularly known as the 'Oxford of the East'. It has about 307 recognized research institutes and 612 affiliated colleges offering graduate and under-graduate courses.

            The university attracts many foreign students due to its excellent facilities. It offers good accommodation facility. There is a provision of hostel for the students. There is a well-stocked library containing plenty of books regarding various subjects. The university offers different scholarships to the students. The university conducts seminars and conferences for the students.</p>
          <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col">
          <img src="/static/images/university (1).jpg" alt="">
        </div>
      </div>
    </section>



    <section class="footer">
      <h4>About Us</h4>
      <p>Savitribai Phule Pune University is one of the finest and most popular educational centers in the city. It offers excellent programs in various areas including Science, Commerce, Arts, Languages and Management Studies.</p>
      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <p>Made Width <i class="fa-solid fa-heart"></i> by Me Papuna</p>
    </section>

    <script src="/static/js/script.js"></script>
  </body>
</html>
