<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
    <title>Chatbot UI</title>
</head>

<body>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="container">
             <img src="img/pp.png" class="mainlogo"> 
             <h3 class="slogan">Hi, I am EduBot! I will try to assist you as much as possible, try me!</h3>
        </div>

        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/c5745f20-2408-4319-8e9d-db4c9e158559">
</iframe>
</body>
</html>